<div class = main>
	<div class = contact>
		<h1>Want to talk to us?</h1>
		<br/> <br />
		<p> Just fill out this form and we'll respond 
			as soon as possible </p>
	</div>
</div>
<div class = secondary>
	<ul class = contact_fields>
		<li><input type = "text" id = "name" size = "50" /></li>
		<br />
		<li><input type = "text" id = "email" size = "50"/></li>
		<br />
		<li><textarea cols = "39" rows = "10" id = "comment"></textarea></li>
		<br />
		<li><input type = "submit" value = "submit" id = "submitButton"></li>
	</ul>
</div>

