// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "sassy-buttons";
@import "susy";
@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/typography/links/link-colors";
@import "compass/css3";

.blog{
    @include span-columns(6,8);
    margin: 10px;
    margin-left: 30px;
    h1 {
        font-size: 180%;
        font-family: "Underwood Champion Regular";
		margin-bottom: 10px;
    }
    h2 {
        font-size: 100%;
		font-family: "TexGyreAdventor-Bold";
		margin-bottom: 5px;
	}
	h3 {
        font-size: 100%;
		font-family: "TexGyreAdventor-Regular"
	}
        
}
    
