// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "sassy-buttons";
@import "susy";
@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/typography/links/link-colors";
@import "compass/css3";

/*Body styling*/

.main {
	
	@include span-columns(4,8);
	
	.slider {
		margin-left: 7%;
		margin-top: 3%;
		@include display-box;
		height: 200px;
  		width: 90%;
		border: solid 4px;
		padding-bottom: 3px;
		overflow: hidden;
		position: relative;
		@include transition-duration(0.4s);	

		img {
			width:100%;
			height: auto;
			margin: auto;
			display:none;
		}
		
	}
 

			
	.news {
		margin-left: 7%;
		#news-header{
			font-family: "Underwood Champion Regular";
			font-size: 160%;
			font-weight: bold;
			border-bottom: solid 3px;
		}
		#title {
			font-family: "TexGyreAdventor-Bold";
			font-size: 130%;
			padding-top: 2%;
			padding-bottom: 2%;
		}
		#description {
			font-family: "TexGyreAdventor-Regular";
			margin-left: 11%;
		}
	}
}



.secondary {
	@include span-columns(4 omega,8);
	margin-top: 5%;
	.years {
        height: 70px;
		#title{
            @include span-columns(1, 4);
			font-family: "Underwood Champion Regular";
			font-size:220%;
		}
        #gallery-wrap{
            width: 400px;
            overflow: hidden;
            position: relative;
            #gallery{
                li{ 
                    @include display-box;
		            height: 20px;
  		            width: 90%;
		            border: solid 4px;    
                    width: 100px;
                    float: right;
                    margin: 0 20px 15px 0;
                }
            }
            #gallery-controls {
                #gallery-next {}
                #gallery-prev {}
            }
        }

        
	}

	.background-info{
		#question {
			font-family: "Underwood Champion Regular";
			font-size: 220%;
		}
		#statement{
			font-family: "TexGyreAdventor-Bold";
			padding-top: 2%;
			padding-bottom: 2%;
			font-size:150%;
			margin-left:5%;
		}
		#description{
			font-family: "TexGyreAdventor-Regular";
			margin-left:5%;
		}
	}

	.tools {

		#title{
			font-family: "Underwood Champion Regular";
			font-size: 220%;
		}
	}
}
