// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "sassy-buttons";
@import "susy";
@import "compass/reset";
@import "compass/layout/sticky-footer";
@import "compass/typography/links/link-colors";
@import "compass/css3";

/*Body styling*/

.main {
	
	@include span-columns(4,8);
	/* home page */	
	.slider {
		margin-left: 7%;
		margin-top: 3%;
		@include display-box;
		height: 200px;
  		width: 90%;
		border: solid 4px;
		padding-bottom: 3px;
		overflow: hidden;
		position: relative;
		@include transition-duration(0.4s);	

		img {
			width:100%;
			height: 100%;
			margin-left: auto;
            margin-right: auto;
			display:none;
		}
		
	}
 

			
	.news {
        cursor: pointer;
		margin-top: 10px;
		margin-left: 7%;
        
		#news-header{
			font-family: "Underwood Champion Regular";
			font-size: 160%;
			font-weight: bold;
			border-bottom: solid 3px;
		}
		#title {
			font-family: "TexGyreAdventor-Bold";
			font-size: 130%;
			padding-top: 2%;
			padding-bottom: 2%;
            #posttitle { 
                text-decoration: none;
            }
            #posttitle:visited {color: black;}   
		}
		#description {
			font-family: "TexGyreAdventor-Regular";
			margin-left: 11%;
            height: 200px;
            overflow: auto;
            line-height: 150%;
            padding-left: 50px;
            border-left: solid red 3px;
            #lastpost { 
                text-decoration: none;
                
            }
            #lastpost:visited {color: black;}    
		}
	}

	
	/*Brief History*/

	.margin_needed{
	
		margin-left: 7%;

		#quote{
			font-size: 150%;
			font-family: "TexGyreAdventor-Bold";
			font-style: italic;
		}

		#sayer {
			font-size: 110%;
			font-family: "TexGyreAdventor-Regular";
			margin-left:60%;
		}

		p {
			font-size: 130%;
			font-family: "TexGyreAdventor-Regular";
		}
	}
}



.secondary {
	@include span-columns(4 omega,8);
	margin-top: 2%;
	/*Home*/
	.years {
        height: 70px;
		#title{
            //@include span-columns(1, 4);
            margin-top: 20px;
            width: 100px;
			font-family: "Underwood Champion Regular";
			font-size:250%;
            float: left;
		}
        #slider{
            float:right;
            margin: 0 120px 0 0;
                #gallery-wrap{
                    width: 255px;
                    //margin: 0 auto;
                    overflow: hidden;
                    position: relative;
                    float: left;
                    #gallery{
                        position: relative; 
                        left: 0; 
                        top: 0;
                        float: left;
                        li{ 
                            height: 60px; 
                            width: 60px;
                            float: left;
                            margin: 10px 10px 20px 10px;
							font-family: "TexGyreAdventor-Regular";
                            a img{
                                border: solid black 2px;
                            }
                            p { 
                                margin-left: 12px;
                                a {
									color: black;
                                    text-decoration: none;
                                }
                                a :visited {color: black}
                                font-weight: bold;
                            }
                        }
                    }
                 }
                 #gallery-next {
                     float: left;
                     margin-top: 33px;
                     margin-left: 15px;
                 }
                 #gallery-prev {
                     float: left;
                     margin-top: 33px;
                     margin-right: 15px;
                 }
                        
        }
    }

	.background-info{
			cursor: pointer;
		#question {
			font-family: "Underwood Champion Regular";
			font-size: 220%;
			.background-style {
				text-decoration: none;
			}
		}
		#question :visited{
			color:black;
		}
		#statement{
			font-family: "TexGyreAdventor-Bold";
			padding-top: 2%;
			padding-bottom: 2%;
			font-size:150%;
			margin-left:5%;
			color:black;
			.background-style {
				text-decoration: none;
			}
		}
		#statement :visited{
			color:black;
		}
		#description{
			font-family: "TexGyreAdventor-Regular";
			margin-left:5%;
			color: black;
			.background-style {
				text-decoration: none;
			}
		}
		#description :visited{
			color:black;
		}
	}
    //@import "icons/*.png";
    //@include all-icons-sprites;
	.tools {

		#title{
			    font-family: "Underwood Champion Regular";
			    font-size: 220%;
                float: left;
                margin-top: 10px;
		}
        #spriting{
            li {
                @include inline-block;
                margin: 10px;
            }
        }
	}
	/*Brief History*/
	#years {
		text-align: center;
		margin-right: 5%;
		#number {
			font-family: "Underwood Champion Regular";
			font-size: 170%;
		}

		#text {
			font-family:  "TexGyreAdventor-Regular";
			font-size: 125%;
			border: solid 2px red;
			padding: 3%;
			@include border-radius(20px);
		}
		
	}
	#year1 {
	}
	#year2 {
		display: none;
	}
	#year3 {
		display: none;
	}
	#changeYear{
		margin-bottom: 5%;
		
		p{
			cursor: pointer;
			font-family: "Underwood Champion Regular";
			font-size: 130%;
			border: solid 1px red;
			padding: 5px;
			@include border-radius(12px);
			background-color: #ffcccc;
		}

		#next {
			@include inline-block;
			margin-left: 5%;
		}
		#prev {
			margin-right: 5%;
			@include inline-block;
			
		}	
	}

}

