// Place all the styles related to the years controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "compass";
@import "sassy-buttons";
@import "susy";
@import "compass/reset";

#awards{
    @include span-columns(2,8);
    margin-right: 0;
    margin-left: 5%;
    margin-top: 20px;
    .trophies{
        @include span-columns(1,2);
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .name{
        @include span-columns(1 omega,2);
        font-family: "Underwood Champion Regular";
        font-size: 100%;
        font-weight: bold;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
.ATitle {
    text-align: center;
    font-family: "Underwood Champion Regular";
	font-size: 160%;
	font-weight: bold;
    border-bottom: solid 3px;
}   
.info{
    text-align: center;
}
#main{
    @include span-columns(2,8);
    @include prefix(1);
    @include suffix(1);
    margin: 10px 0 0 0 ;
    #YTitle{
        text-align: center;
        font-family: "Underwood Champion Regular";
	    font-size: 270%;
	    font-weight: bold;
    }
    figure {
        @include display-box;
        height: 270px;
        margin-top: 10px;
        border: solid 2px;    
        width: 100%;
        overflow: hidden;
        img {
			width:100%;
			height: auto;
			margin: auto;
			display:none;
		}
    }
}    
#members{
    @include span-columns(2 omega,8);
    margin-right: 5%;
    margin-left: 0;
    margin-top: 20px;
    .info{
        margin-top: 10px;
        list-style-type: disc;
        li { margin-top: 10px;}
    }        
}
#robinfo{
    clear: both;
    margin-top: 40px;
    width:100%;
    float: left;
    border-top: solid 2px;
    #RTitle{
        margin: 10px;
        float:left;
        text-align: center;
        font-family: "Underwood Champion Regular";
	    font-size: 200%;
	    font-weight: bold;
    }
    p { 
        margin: 10px;
        font-family: "TexGyreAdventor-Regular";
        font-size: 120%;
    }
}
